<% include ../partials/headerUser %>

<% include ../modals/modalInvitationCodes %>

<div class='row' style='padding: 2%; margin-top:1%;'>
    <div class='col-xs-12' align='center'>
        <a href='#' class="btn-lg btn-warning" data-toggle="modal" data-target="#invitationModal" style='border:0; text-decoration:none;'> Invitation Codes</a>
        <a href='#' class="btn-lg btn-success" data-toggle="modal" data-target="#invitationModal" style='border:0; text-decoration:none;'> Fn 2</a>
        <a href='#' class="btn-lg btn-info" data-toggle="modal" data-target="#invitationModal" style='border:0; text-decoration:none;'> Fn 3</a>
    </div>
</div>

<div class='row' style='margin-bottom:4%;'>
    <div class='col-lg-2'>
        <% var mode='users'; %>
        <% include ../buttons/dashboardByUsersOrGroups %>
    </div>
    
    <div class='col-lg-4 col-lg-offset-2'>
        <% include ../partials/jumbotronAdminDashboard %>
    </div>
</div>

<div class='row'>
    <div class='col-xs-12' style='max-height: 65%; overflow:auto;'>
        <% users.forEach(function(thisUser){ %>
            <% include ../repeats/userBoxAdminPov %>
        <% });%>
    </div>
</div> 


<% include ../modals/modalNotifsWelcome %>

<% include ../../front-end/timestampToElapsed %>
    
<% include ../whistlers/whistlerContextAdminDashboard %>

<script>
    $(document).ready(function(){
        var context = $('#whistlerContext').val();
        if (context == 'justLoggedIn') { $('#greet').modal('show') }
        else if (context == 'invitation') { $('#invitationModal').modal('show') }
    });
</script>
<!--<a href='/index/:username/invitations/'>see invitations</a>-->

<!--<form action='/index/:username/invitations/new/?nickname=mamad' method='POST'> -->
<!--            <button type='submit' style='background: none; border: none;'>new code</a>-->
<!--    </form>-->
    