<% include ../partials/headerUser %>

<div class='row' style='margin-bottom:4%;'>
    <div class='col-lg-2'>
        <% var mode='users'; %>
        <% include ../buttons/dashboardByUsersOrGroups %>
    </div>
    
    <div class='col-lg-4 col-lg-offset-2'>
        <% include ../partials/jumbotronAdminDashboard %>
    </div>
</div>

<div class='row'>
    <div class='col-xs-12' style='max-height: 65%; overflow:auto;'>
        <% users.forEach(function(thisUser){ %>
            <% include ../repeats/userBoxAdminPov %>
        <% });%>
    </div>
</div> 

<% if (context=='justLoggedIn'){ %> <% include ../partials/notifsWelcome %> <% } %>  
<% include ../../front-end/timestampToElapsed %>

<!--<a href='/index/:username/invitations/'>see invitations</a>-->

<!--<form action='/index/:username/invitations/new/?nickname=mamad' method='POST'> -->
    <!--        <button type='submit' style='background: none; border: none;'>new code</a>-->
    <!--</form>-->
    