<% if(user['username'] == comment['username'] && user.admin){ %>
    <div class="dropdown pull-right" style='float: left; margin-right:2%;' >
        <button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           &#9662;
        </button>
        <ul class="dropdown-menu" style='position: absolute;'>
            <li><a href='#' data-toggle="modal" data-target="#edit<%=comment['_id']%>">Edit</a></li>
            <li><a href="#" id='commentDelete' class='<%=comment['_id']%>' >Delete</a></li>
        </ul>
    </div>
<% } else { %>
    <div class="dropdown pull-right" style='float: left; margin-right:2%; visibility: hidden;'>
        <button class="btn btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           &#9662;
        </button>
        <ul class="dropdown-menu" style='position: absolute;'>
            <li><a href='#' data-toggle="modal" data-target="#edit<%=comment['_id']%>">Edit</a></li>
            <li><a href="#" id='commentDelete' class='<%=comment['_id']%>' >Delete</a></li>
        </ul>
    </div>
<% } %>