<div class="modal fade bs-example-modal-lg" id="creationmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">Creating New Group</h4>
            </div>
            
            <div class="modal-body">
                <form action='/index/<%=user.username%>/groups/' method='POST'>
                    <label> How would you like to call the group? </label> <br /><br />
                    <input type="text" style='width: 60%; margin-bottom:5%;' class="form-control" name='name' style='padding-bottom: 20px;' required/>
                    <label>These people have not been grouped yet. Choose who will be a member of this new group: </label> <br /><br />
                    <div class='container' style='max-height: 40%; overflow: auto;' align='center'>
                        <% freeUsers.forEach(function(theUser){ %>
                            <div class="checkbox" style='width:60%; padding: 2%; background: #c0deed;'>
                                <div class='row'>
                                    <div class='col-xs-2'>
                                        <input type="checkbox" value="<%=theUser._id%>" style='margin-top:15%;' name="chk" />
                                    </div>
                                    <div class='col-xs-10' align='left'>
                                        <h4><%=theUser.name.slice(0,1).toUpperCase() + theUser.name.slice(1) %></h4>                                         </h4>
                                    </div>
                                </div>    
                            </div>
                        <% }); %>
                    </div>
                    <button type='submit' class="btn btn-success" style='border:0'> Confirm <span class="glyphicon glyphicon-plus-sign"></span></button>
                </form>
            </div>
            
        </div>
    </div>
</div>             