<div class='row'>
    <div class='col-xs-12 col-md-4'>        
        <nav aria-label="..." style='margin-top:-10%; margin-bottom:3%;'>
          <ul class="pager">
            <li class="previous"><a href="/index/<%=user.username%>"><span aria-hidden="true">&larr;</span> <%if (user.admin){ %>Administrator Control Panel </a></li><% } else {%> Back to Dashboard </a></li><% } %>
          </ul>
        </nav>
    </div>
</div>