<div class='row' align='center'>
    <div class='col-xs-10 col-xs-offset-1 square' style='border: 0.5px #d5d5d5 solid; border-radius:10px; height: 80%;'>
        <h2>Welcome back, <%=user.name.slice(0,1).toUpperCase() + user.name.slice(1)%>!</h2><br />
        <p>What happened in your absence:<hr /></p>

        <% if (unseenNotifs.length == 0){ %> <span class='text-muted'>0 Notifications to Show. You can chill buddy!</span> 
        <% } else { %>
            <div style='overflow-y: auto; max-height:75%;'>
                <% unseenNotifs.forEach(function(notif){ %>
                    <% active=true %>
                    <% include ../repeats/displayNotif %>
                <% }); %>
            </div>
        <% } %>
        
        <p class='text-muted'> <br /> Tips: <br /> - You can clear any notification by clicking on it <br /> - Let notifications stay active if you have unfinished work related to them, to remind you of your to-dos! </p>
    </div>
</div>


