

    <!-- First col: Thread Info -->
<div class='col-xs-12'>
    <div style='width: 100%; border: 0px; background:#F1F1FA;'>
        <div align='center'style='padding: 0; margin: 0; border: 0px; width: 100%;'>
            
            <div class='container' style='background:#0084b4; border-radius: 25px; margin-right:-40px; color: white; width: 80%; border-bottom: solid 1px #E0F0F7; float:right'> 
                <h5> Payment History </h5>
            </div>
            <div class='container' style='background:#FFFFFF; width: 68%;border-bottom: solid 1px #E0F0F7; float:right;'> 
                <% if (client.payments.length == 0){ %>
                        <div class="media-body">
                            <small class="text-muted">No Payment made yet. <br> You can use this form to make a payment now.</small>
                        </div>
                <% } else { %>
                        <% client.payments.forEach(function(payment){ %>
                            <div class='container' style='margin-right: 25px;width: 80%; border-bottom: solid 1px #E0F0F7; padding:15px;'> 
                                <% var d = new Date(payment['date']); %>
                                <h5> Date: <%= d.getMonth() %>/<%= d.getDate() %>/<%= d.getFullYear() %></h5>
                                <h5> Amount: $ <%=payment['amount']%>.00</h5>
                                <button type="submit" class='btn btn-xs btn-success'> Receipt <span class='glyphicon glyphicon-list-alt'></span></button> 
                            </div>
                        <% }) %>
                <% } %>
            </div>
        </div>
    </div>
</div>
    <!-- END First col: Thread Info -->
