<div class='row'>
    <div class='col-xs-12'>
        <div class='container' style='background:#0084b4; border-radius: 10px; color: white; width: 100%; border-bottom: solid 1px #E0F0F7;'> 
            <h5> Payment History </h5>
        </div> 
    </div>
</div>

<div class='row'>
    <div class='col-xs-12'>
        <% if (client.payments.length == 0){ %>
            <div class="media-body">
                <small class="text-muted">No payment made yet. <br> You can use this form to make a payment now.</small>
            </div>
        <% } else { %>
            <% client.payments.forEach(function(payment){ %>
                <div class='container' style='border-bottom: solid 1px #E0F0F7; width: 100%;'> 
                    <% var d = new Date(payment['date']); %>
                    <h5> Date: <%= d.getMonth() %>/<%= d.getDate() %>/<%= d.getFullYear() %></h5>
                    <h5> Amount: $ <%=payment['amount']%>.00</h5>
                    <button type="submit" class='btn btn-xs btn-success'> Receipt <span class='glyphicon glyphicon-list-alt'></span></button> 
                </div>
            <% }) %>
        <% } %>
    </div>
</div> 