<div class="twt-wrapper" style='width:100%;'>
    <div class="panel panel-info">
        <div class="panel-body" style='border: 0.5px #aee3ee;'>

                <span class="text-muted">
                    <small class="text-muted">Quick<br />Browse</small>
                </span>

        </div>
    </div>
</div>
