<div class='row'>
    <div class='col-xs-12'>
        <div class="twt-wrapper">
            <div class="panel panel-info">
                    <div class="list-group-item" align='center'><strong>Comments</strong></div>
                         <div class="panel-body">
                            <form action='/index/<%=client.username%>/submit/<%=sub['_id']%>/comments/' id = 'commentForm' method = 'POST'>
                                <textarea class="form-control" placeholder="Enter comment here..." rows="3" name ='textareacontent' style='margin-bottom:1%;'></textarea>
                                <button type='submit' class="btn btn-info btn-xs pull-right" name = 'butt'>Post</button>
                                <div class="clearfix"></div>
                            </form>
                            <hr>
                            <% include ./commentsList %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('a').click(function(e){
    console.log(e);
    if (!e.target.className || !(e.target.id == 'commentDelete')){ return }
    e.preventDefault();
    var commentId = e.target.className;
    var username = $('#whistlerClient').val();
    var subId = $('#whistlerSubId').val();
    $('body').append(`<form method='POST' id='formToDeleteComment' action='/index/${username}/submit/${subId}/comments/${commentId}/?_method=DELETE' style='visibility: hidden;'>`);
    let toBeRemoved = document.getElementById("formToDeleteComment");
    toBeRemoved.submit();
    toBeRemoved.parentNode.removeChild(toBeRemoved);
});
</script>
