<% include ./partials/headerUser %>

<% include ./partials/backToDashboard %>

<div class='col-md-2 col-md-offset-1 col-xs-3'>
    <ul class="list-group" style='max-height:70%; overflow:auto;'>
        <li class="list-group-item" align='center'><strong>People in Group (<%=users.length%>)</strong></li>
      <% users.forEach(function(us){ %>
            <li class="list-group-item">
                <div class="media-body"  align='center'>
                    <img class="media-object" src="http://placehold.it/80"> <br>
                    <h4 class="media-heading"><%=us.username.slice(0,1).toUpperCase() + us.username.slice(1) %></h4>
                </div>
            </li>
      <% }); %>
    </ul>
</div>

<div class='row'>
    <div class="col-md-6 col-md-offset-1 col-xs-8 col-xs-offset-1">
        <div class="twt-wrapper">
            <div class="panel panel-info">
                <div class="list-group-item" align='center'><strong>Messages in this group</strong></div>
                <div class="panel-body">
                        
                    <form action='/index/<%=client.username%>/messages/group/' id='commentForm' method='POST'>
                        <textarea class="form-control" placeholder="Enter Message here..." rows="3" name ='textareacontent' style='margin-bottom:1%;'></textarea>
                        <button type='submit' class="btn btn-primary btn-sm pull-right" name = 'butt' style='background:#6666F1;'>Send</button>
                        <div class="clearfix"></div>
                    </form>
                    <hr>
                        
                    <ul class="media-list" style='max-height:70%; overflow:auto;'>
                        <% if (messages.length == 0){ %>
                            <% include ./partials/noMessageBlock %>
                        <% } else { %>
                            <% messages.reverse().forEach(function(message){ %>
                                <% include ./partials/displayMessage %>
                            <% }); %>
                        <% } %> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>    

<script>
var spansList = $('.comment > .timestring');
  
$.each(spansList, function( i, val ) {
    var timeDateText = $(val).text();
    var momentObj = moment(timeDateText);
    var timespent = momentObj.fromNow();
    $(this).text(timespent);
});

$(document).ready(function(){
    // Navbar Init
    $('#messages').css("background-color", "#FFFFFF");
    $('#messagestxt').css("color", "#0084b4");   
    $('#group').css("background-color", "#FFFFFF");
    $('#grouptxt').css("color", "#0084b4");   
});
</script>
