<% include ./partials/headerUser %>
    
<div class = 'row'>
  <div class = 'col-xs-12 col-lg-8 col-lg-offset-2' align='center'>
    <h2 style='margin-bottom: 5%;' align='center'>Login to Resume Work</h2>
    <form id = 'login' action = '/login' method = 'POST'>
      <label for="username">Username</label>
      <input type="text" class="form-control" placeholder="Username" id="username" name='username' style='width:40%; margin-bottom:4%;' required>
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" id="password" name='password' style='width:40%; margin-bottom:5%;' required>
      <button type="submit" class="btn btn-primary" id='button' style='background:#5A28FF;'>Log In</button><br>
    </form>
  </div>
</div