<% include ./partials/headerUser %>
<div class = 'row'>
  <div class = 'col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1' align='center'>
    <h2 align='center'>Create Profile</h2><br>
    <form action = '/index' method = 'POST'>
      <label for="title">Name</label>
      <input type="text" class="form-control" name = 'name' placeholder = 'Last Name - Other Name(s)' required style='margin-bottom:5%;'>
      <label for="usr">Username</label>
      <input type="text" class="form-control" name = 'username' placeholder = 'Username' required style='margin-bottom:5%;'>
      <label for="code">Token</label>
      <input type="text" class="form-control" name = 'code' placeholder = 'Token' required style='margin-bottom:5%;'>
      <label for="amount">Password</label>
      <input type="password" class="form-control" placeholder = 'Password' name = 'password' required style='margin-bottom:5%;'>
      <hr />
      <label for="title">More Fields Coming Up...</label>
      <input type="text" class="form-control" placeholder = '...' style='margin-bottom:5%;'> <br>
      <div class = 'row'>
        <div class = 'col-xs-12' align='center'>
          <button type="submit" class="btn btn-primary" style='background:#5A28FF;'>Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>