<% include ./partials/headerUser %>

<div class='row'>
    <div class='col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2'>
          <div class ='jumbotron' align='center' style='padding: 5%; background:#ffffff; border: solid 0.5px; border-radius: 3%; color: #0084b4;'>
              <h4>All Notifications</h4>
              <small>Click on an active notification to archive it or click on an old notification to bring it back to life!</small>
          </div>
    </div>
</div>

<div class='row'>
    
    <div class='col-md-5 col-md-offset-1 col-xs-12 square' style='margin-top: 3%; margin-right:1%;' align='center'>
        <h4>Active Notifications<hr /></h4>
        <% if (unseenNotifs.length == 0){ %>
            <span class='text-muted'>0 Notifications to Show. You can chill buddy!</span>
        <% } else { %>
            <div style='max-height:88%; max-width: 80%; overflow-x: hidden;'>
                <% active = true %>
                <% unseenNotifs.forEach(function(notif){ %>
                    <% include ./repeats/displayNotif %>
                <% }); %>
            </div>
        <% } %>
    </div>
    
    <div class='col-md-5 col-md-offset-1 col-xs-12 square' style='margin-left: 1%; margin-top: 3%;' align='center'>
        <h4>Old Notifications<hr /></h4>
        <% if (seenNotifs.length == 0){ %>
            <span class='text-muted'>0 Past Notifications to Show</span>
        <% } else { %>
            <div style='max-height:88%; max-width: 80%; overflow-x: hidden;'>
                <% active = false %>
                <% seenNotifs.forEach(function(notif){ %>
                    <% include ./repeats/displayNotif %>
                <% }); %>
            </div>
        <% } %>
    </div>

</div>

<script>
    $(document).ready(function(){
         // Taking the date from the DB and converting to local time zone and to desired format
        var spansList = $('.comment > .timestring');
    
        $.each(spansList, function( i, val ) {
              var timeDateText = $(val).text();
              var momentObj = moment(timeDateText);
              var timespent = momentObj.fromNow(); /// We have our String e.g. 5 seconds ago, a year ago ...
              $(this).text(timespent);
        });
        $('#greet').modal('show');
        
        $(".notifbox").mouseover(function(){$(this).css("overflow-y","auto");});
        $(".notifbox").mouseout(function(){$(this).css("overflow-y","hidden");});
    });
</script>