<% include ./partials/headerUser %>

<%if (user.admin){ %>
  <div class='row'>
    <div class='col-xs-12 col-md-4 col-md-offset-0'>
        <nav aria-label="..." style='margin-top:-10%; margin-bottom:3%;'>
          <ul class="pager">
            <li class="previous"><a href="/index/<%=user.username%>"><span aria-hidden="true">&larr;</span> Administrator Control Panel </a></li>
          </ul>
        </nav>
    </div>
  </div>
<% } %>

<div class='row'>
  <div class='col-xs-12 col-md-3'>
      <% include ./partials/profileCorner %>
  </div>
  <div class='col-xs-12 col-md-6'>
      <% include ./partials/userTaskList %>
  </div>
  <div class='hidden-sm hidden-xs col-md-3'>
      <% include ./partials/newsRoll %>
  </div>
</div>

<% if (context=='justLoggedIn'){ %> <% include ./modals/modalNotifsWelcome %> <% } %>
<% include ../front-end/timestampToElapsed %>

<script>
    $(document).ready(function(){
        $('#greet').modal('show');
    });
</script>

<script>
      $('#dashboard').css("background-color", "#FFFFFF");
      $('#dashboardtxt').css("color", "#0084b4");
</script>
