<% include ./partials/headerUser %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>

<div class='row'>
    <%if (user.admin){ %>
        <nav aria-label="..." style='margin-top:-30px; margin-bottom: 30px; margin-left: 20px;'>
          <ul class="pager">
            <li class="previous"><a href="/index/<%=user.username%>"><span aria-hidden="true">&larr;</span> Administrator Control Panel </a></li>
          </ul>
        </nav>
    <% } %>
    
    <div class='col-lg-3'>
        <% include ./partials/profileCorner %>
    </div>
    
    <div class='col-lg-5'>
        <% include ./partials/fileSubmissionHistory %>
    </div>

    <div class='col-lg-4'>
        <% include ./partials/newsRoll %>
    </div>
    
    <% if (firstContact){ %>
    <!-- Greeting & Notifications Modal START -->
    <div class="modal fade bs-example-modal-lg" id="greet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-body">
                <% include ./partials/notifsWelcome %>
              </div>
          </div>
      </div>
  </div>            
    <!-- Greeting & Notifications Modal END -->
  <% } %>  
</div>
<script>
    var spansList = $('.comment > .timestring');
  
  $.each(spansList, function( i, val ) {
        var timeDateText = $(val).text();
        var momentObj = moment(timeDateText);
        var timespent = momentObj.fromNow();
        $(this).text(timespent);
  });
    $(document).ready(function(){
        $('#greet').modal('show');
    });
</script>