<% include ./partials/headerUser %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>

<div class='row'>
    
    <nav aria-label="..." style='margin-top:-30px; margin-bottom: 30px; margin-left: 20px;'>
      <ul class="pager">
        <li class="previous"><a href='/index/<%=user.username%>'><span aria-hidden="true">&larr;</span> Dashboard</a></li>
      </ul>
    </nav>
    
    <!-- First col: Thread Info -->
    <div class='col-lg-3'>
        <% include ./partials/threadSummaryAdd %>
    </div>
    <!-- END First col: Thread Info -->
    
    
    
    <!-- Second col: File History -->
    <div class='col-lg-3' align='center' style='margin-left:50px; width:25%;'>
        <% include ./partials/threadList %>
    </div>
    <!-- End Second col: File History -->    




    <!-- Third col: Comments -->        
    <div class="col-lg-3" style='margin-left: 75px; width:30%;'>
        <% include ./partials/threadComments %>
    </div>
    <!-- End Third col: Comments -->  
</div>

</div>
</div>

<input type='text' id='whistlerUser' value='<%=client.username%>'  style='visibility: hidden;'>
<input type='text' id='whistlerSub' value='<%=sub._id%>'  style='visibility: hidden;'>

<script>

   
        $('.hook').click(function(e){
            var target = e['target'];
            var commentId = target.id;
            
            var username = $('#whistlerUser').val();
            var subId = $('#whistlerSub').val();

            e.preventDefault();
            var newForm = $('<form>', 
                {
                    'action': '/index/' + username + '/submit/' + subId + '/comments/' + commentId + '?_method=DELETE',
                    'method': 'POST'
                });
            newForm.submit();
        });
        
        
        
        // Taking the date from the DB and converting to local time zone and to desired format
        var spansList = $('.comment > .timestring');
    
        $.each(spansList, function( i, val ) {
              var timeDateText = $(val).text();
              var momentObj = moment(timeDateText);
              var timespent = momentObj.fromNow(); /// We have our String e.g. 5 seconds ago, a year ago ...
              $(this).text(timespent);
        });
        
        
        
        // Navbar Init
        $('#dashboard').css("background-color", "#FFFFFF");
        $('#dashboardtxt').css("color", "#0084b4");                 

    });

</script>

