<% include ./partials/headerUser %>

<div class='row new' align='center'>
    <div class='col-sm-8'>
        <!-- Column of header and file list and workspace -->
        <div class ='row'>

            <div id='quick-view' class='col-xs-12 col-sm-6'>
                <!-- Carousel for admin to choose among users -->
                <% include ./partials/taskQuickViewUsers %>
            </div>

            <!-- Title and buttons for instructions or workbench -->
            <div class='col-xs-12 col-sm-6' style='padding-bottom: 1%; text-align:center;'>
                <div class='row'>
                    <h4 style='position:relative; z-index:0;'><%= task.title %></h4>
                </div>

                <div class='row'>
                    <button class="sort-choosable"><a class='blend' href ="/index/<%=user.username%>/tasks/<%=task._id%>/preview">Instructions</a></button>
                    <button class="sort-chosen">Workbench</button>
                </div>
            </div>
        </div>


        <% if (typeof taskSubscriber !== "undefined") { %>
            <div class='row'>
                <!-- Still in column left of comments columns, we are below the header row of heading and buttons -->

                <!-- File list on sm screen -->
                <div class='hidden-xs col-sm-6' align='right' style='width:40%; height:60vh; padding:2%; padding-bottom:5%; margin-top:4%; margin-left:-2%; background-color:#fef9ff; border: 0.5px solid #eed0f5;'>
                    <!-- File list -->
                    <% include ./partials/taskFileListOfAUser %>
                </div>

                <div class='hidden-xs col-sm-2' align='center' style='padding: 3%;'>
                </div>

                <div class='col-xs-12 col-sm-6' align='center' style='padding: 2%; height:100vh; width: 23%;'>
                    <!-- Workspace -->
                    <% include ./partials/workspace %>
                </div>

            </div>
        <% } %>
    </div>

<% if (typeof taskSubscriber !== "undefined") { %>
    <div class='col-sm-1'>
        <!-- Space between left column and comments columns -->
    </div>

    <div class='col-sm-3' style='margin-top:-5%; background-color:#eaf2f9; padding-top: 1%; border-left: 0.05px solid #bddaf3;'>
        <% include ./partials/taskComments %>
    </div>
<% } %>

</div>


<style>

body {
    background: #eee;
}

.sort-chosen{
    color: #eeeeee;
    background-color: #afc2d4;
    cursor: default;
}

.sort-choosable {
    color: #eeeeee;
    background-color: rgb(46, 111, 168);
}

/* Search bar and buttons CSS */
input:focus, textarea, button:focus {
    outline: none !important;
}

.new button {
    font-size: 100%`;
    padding: 1% 4%;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    margin: 2px 0;
}

a.blend:link,
a.blend:visited,
a.blend:hover,
a.blend:active
{
   color: white;
   text-decoration: none;
}
</style>
