<% include ./partials/headerUser %>

<% include ./buttons/backToDashboardMainMenu %>

<div class='row'></div>
    <div class='col-md-3 col-xs-12' style='max-width:100%; margin-bottom:10%;'>
        <% include ./partials/threadSummaryAdd %>
    </div>
    
    <div class='col-md-3 col-md-offset-1 col-xs-12' align='center' style='max-width:100%; margin-bottom:10%;'>
        <% include ./partials/threadList %>
    </div>

    <div class="col-md-3 col-md-offset-1 col-xs-12" style='max-width:100%; margin-bottom:10%;'>
        <% include ./partials/threadComments %>
    </div>
</div>

<% include ./whistlers/whistlerSub %>

<% include ../front-end/timestampToElapsed %>

<script>
        // Navbar Init
        $('#dashboard').css("background-color", "#FFFFFF");
        $('#dashboardtxt').css("color", "#0084b4");                 
</script>