<% include ./partials/headerUser %>

<% include ./partials/backToDashboardMainMenu %>

<div class='row'></div>
    <div class='col-md-3 col-xs-12' style='max-width:100%; margin-bottom:10%;'>
        <% include ./partials/threadSummaryAdd %>
    </div>
    
    <div class='col-md-3 col-md-offset-1 col-xs-12' align='center' style='max-width:100%; margin-bottom:10%;'>
        <% include ./partials/threadList %>
    </div>

    <div class="col-md-3 col-md-offset-1 col-xs-12" style='max-width:100%; margin-bottom:10%;'>
        <% include ./partials/threadComments %>
    </div>
</div>

<% include ./whistlers/whistlerSub %>

<script>
var spansList = $('.comment > .timestring');
  
  $.each(spansList, function( i, val ) {
        var timeDateText = $(val).text();
        var momentObj = moment(timeDateText);
        var timespent = momentObj.fromNow();
        $(this).text(timespent);
  });
        // Navbar Init
        $('#dashboard').css("background-color", "#FFFFFF");
        $('#dashboardtxt').css("color", "#0084b4");                 
</script>