<% var viewUsers='active'; %>
<% var viewGroups='active'; %>
<ul class="pager">
  <% if (mode=='groups') {viewGroups='disabled'} else {viewUsers='disabled'}%>
  <li class="<%=viewUsers%>"><a href="/index/<%=user.username%>">View by Users</a></li><hr />
  <li class="<%=viewGroups%>"><a href="/index/<%=user.username%>/groups/">View by Groups</a></li>
</ul>

<script>
  $('.active > a').css('background', '#0084b4');
  $('.active > a').css('color', 'white');
  $('.disabled > a').click(function(e){
    e.preventDefault();
  })
</script>
