<div class="modal fade bs-example-modal-lg" id="pleaseWaitModal" role="dialog" aria-labelledby="myModalLabel" align='center' style='margin-top:10%;'>
    <div class="modal-dialog modal-lg" role="document">
            <div class="modal-body">
                <h3 class="modal-title" style='margin-bottom:5%; color:white;'>Please Wait...</h3>
                <div class='row'>
                    <div class='col-xs-12'>
                        <div class="square" style='height:10%; width: 10%;'>
                            <img src="/images/loader.gif" style='max-width: 100%; max-height: 100%;' />
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>             